<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2> Registration </h2>
		<form action="add" method="POST">
		{% csrf_token %}
			Name:
			<input type="text" name="name"><br>
			Username:
			<input type="text" name="username"><br>
			Date Hired:
			<input type="date" name="datehired"><br>
			Password:
			<input type="password" name="Password"><br>
			Confirm PW:
			<input type="password" name="Confirm Password"><br>
			<input type="submit" value="Register">
		</form>
	<h2> Login </h2>
	<form action="login" method="POST">
		{% csrf_token %}
		Username
		<input type="text" name="username"><br>
		Password
		<input type="password" name="pass_log">
		<input type="submit" value="Login">
	</form>

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}
</body>
</html>